---
---

@import  "minima";

canvas {
  position: fixed;
}

background-image {
  position: fixed;
}

table {
    //font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 10pt;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    //background-color: lightyellow;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: ivory;
}

tr:nth-child(odd) {
    background-color: ivory;
}

p {
  font-size: 10.5pt;
  font-weight: 400;
}

//for art page images
.art {
  height:100px;
  overflow: hidden;
  display:flex;
  align-items:center;
  justify-content:center;
}

.image {
  opacity: 1;
  //display: block;
  //width: 100%;
  //height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  //top: 100%;
  //left: 50%;
  //transform: translate(-50%, -25%);
  //-ms-transform: translate(-50%, -50%);
  //text-align: left;
}

.art:hover .image {
  opacity: 0.3;
}

.art:hover .middle {
  opacity: 1;
}

.text {
  //background-color: black;
  color: black;
  font-size: 20px;
  //padding: 16px 32px;
}

//makes a div around TITLE p5.js sketch
.home-link {
  position: relative;
  width: 285px;
  height: 80px;
}

.clickable {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 1;
}

.image_label {
  font-size: 70%;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 180px;
  background:rgba(255,255,255,0.8);  /* Transparency */
  padding: 5px;
}
.image_box {
  background-color: #fafafa;
  height: 200px;
  width: 200px;
  border-style: solid;
  border-width: 1px;
  border-color: #eaeaea;
  display: inline-block;
  position: relative;
}
.image_thumbnail {
  object-fit: cover;       /* Scale the image so it covers whole area, thus will likely crop */
  object-position: center; /* Center the image within the element */
  height: 200px;
  width: 200px;
  position: absolute;
}

.container {

 //Site header
  .site-header {
    border-style: none;
    //min-height: 60px;
}

  .site-title,
  .site-title:visited {
    color: #424242;
  }

  .site-nav {
    line-height: 13px;
    background-color: yellow;
    padding-left: 1px;
  }

  /**
   * Page content
   */
  .page-content {
    padding: 0px 0;
  }

  .page-heading {
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 1.5;
    padding-left: 1px;
    background-color: violet;
  }

  //Posts

  .post-header {
    //margin-bottom: 30px;
  }

  .post-title {
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 1.5;
    padding-left: 1px;
    background-color: violet;
  }

  .post-list {
    //margin-left: 0;
    //list-style: none;
  }

  .post-list > li {
    margin-bottom: 20px;
  }

  .post-meta {
    //font-size: 12px;
    color: #000000;
    padding-top: 3px;
    background-color: lightyellow;
  }

  .post-link {
    /*display: block;*/
    font-size: 18px;
    padding-left: 1.5px;
  /* try transition */
     width: 75%;
     /*height: 25px;*/
     background: lightblue;
     -webkit-transition: width 2s; /* Safari */
     transition: width 2s;
  }

  .post-link:hover {
      width: 100%;
  }

  /* For Safari 3.1 to 6.0 */
  .post-link {-webkit-transition-timing-function: ease-in;}

  /* Standard syntax */
  .post-link {transition-timing-function: ease-in;}
}


@media screen and (max-width: 800px) {
  .post-title {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: 30px;
}

.post-content h2 {
  font-size: 32px;
}
@media screen and (max-width: 800px) {
  .post-content h2 {
    font-size: 28px;
  }
}

.post-content h3 {
  font-size: 26px;
}
@media screen and (max-width: 800px) {
  .post-content h3 {
    font-size: 22px;
  }
}

.post-content h4 {
  font-size: 20px;
}
@media screen and (max-width: 800px) {
  .post-content h4 {
    font-size: 18px;
  }
}
/**
         * Site footer
         */
.site-footer {
  //border-top: 1px solid #e8e8e8;
  //padding: 30px 0;
  border-style: none;
}

.footer-heading {
  font-size: 18px;
  padding-left: 2px;
  margin-bottom: 15px;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: #828282;
  margin-left: -15px;
}

.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px;
}

.footer-col-1 {
  width: -webkit-calc(35% - (30px / 2));
  width: calc(35% - (30px / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (30px / 2));
  width: calc(20% - (30px / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (30px / 2));
  width: calc(45% - (30px / 2));
}
@media screen and (max-width: 800px) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2));
  }
}
@media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2));
  }
}
